<!DOCTYPE html>
<html>
<head>
    <title>Détails complets de la tâche</title>
</head>
<body>
    {% for x in mytask %}
        <p>Nom de la tâche: {{ x.name_task }}</p>
        <p>Description de la tâche: {{ x.des_task }}</p>
        <p>Date de début: {{ x.start_date_task }}</p>
        <p>Heure de début: {{ x.start_time_task }}</p>
        <p>Date de fin: {{ x.end_date_task }}</p>
        <p>Heure de fin: {{ x.end_time_task }}</p>
        <p>Statut: {{ x.statut_task }}</p><br>

        <li> <a href="/modify_task/{{ x.id }}">Modifier la tâche</a></li><br>
        <li> <a href="/delete_task/{{ x.id }}">Supprimer la tâche</a></li><br>
        <li> <a href="/">Retourner à l'historique des tâches</a></li>
        
    {% endfor %}
</body>
</html>

